@font-face {
  font-family: "Sephir";
  src: url(Sephir-Regular.otf);
}

.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --accent-color: #5e8c8d;
  --invalid-color: rgb(180, 28, 28);
}

* {
  /* border: solid 1px red; */
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Hind Madurai", sans-serif;
  color: rgba(44, 44, 44, 0.74);
}

body {
  display: flex;
}

.left {
  flex: 1;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  height: 100px;
}

.left p {
  text-align: center;
  flex: 1;
  padding: 15px;
  color: white;
  text-decoration: none;
  max-height: 50px;
  font-size: 15px;
  opacity: 0.6;
  font-weight: 100;
}

a {
  color: white;
}

.right {
  flex: 2;
  display: flex;
  flex-flow: column;
}

.header,
.footer {
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-flow: column;
}

.header {
  justify-content: flex-end;
  align-items: flex-start;
}

.middle {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex: 2;
}

.footer {
  gap: 20px;
}

ul div {
  display: flex;
  flex-flow: row;
  height: 60px;
  gap: 50px;
}

ul {
  display: flex;
  flex-flow: column;
  gap: 20px;
  justify-content: flex-start;
  list-style: none;
}

h1 {
  color: white;
  padding-top: 60px;
  font-weight: 100;
  font-size: 60px;
  font-family: "Sephir", sans-serif;
  font-style: italic;
}

h2 {
  font-size: clamp(1.2rem, 1.1vw, 2rem);
  width: 30vw;
  height: 20vh;
  font-weight: 600;
}

h3 {
  height: 30px;
  color: var(--accent-color);
  margin-top: 25px;
  padding-top: 10px;
}

input,
input:required {
  width: 300px;
  height: 35px;
  box-sizing: border-box;
  border: solid 1px rgb(214, 214, 214);
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
}

input:focus {
  outline: solid 1px var(--accent-color);
  border: solid 1px var(--accent-color);
}

input:focus:invalid,
label:invalid {
  color: var(--invalid-color);
  outline: solid 1px var(--invalid-color);
  border: solid 1px var(--invalid-color);
  background-color: rgba(255, 232, 232, 0.712);
}

input:not(:placeholder-shown):invalid,
label:invalid {
  color: var(--invalid-color);
  outline: solid 1px var(--invalid-color);
  border: solid 1px var(--invalid-color);
}

label {
  height: 30px;
}

button {
  height: 70px;
  width: 190px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #fbddc1, #5e8c8d);
  font-weight: 600;
  font-size: 0.9vw;
  color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.footer a {
  color: var(--accent-color);
}

.passwordMatch {
  font-size: 14px;
  font-weight: bold;
  color: var(--invalid-color);
}
